body {
    align-items: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

td {
    border: 2px solid;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    position: relative;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left:auto; 
    margin-right:auto;
    border-radius: 5px;
}

.dot {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
