body
{
    font-family: arial;
}

#container {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#auto-input {
    border: 1px solid white;
}

#add-div {
    margin-left:34%;
    margin-right:34%;
}

.editable
{
    position: relative;
    border: 1px solid gray;
    padding: 3px;
    margin-top:20%;
    margin-left:34%;
    margin-right:34%;
    margin-bottom: 20px;
    text-align: left;
}

.editable > div
{
    position: relative;
    z-index: 1;
}

.editable::after
{
    position: absolute;
    left: 4px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.5;
    z-index: 1;
}