#scroll {
    margin-left: 10%;
    margin-right: 10%;
}

.elem {
    border: 2px solid rgb(96, 153, 226);
    margin-top:15px;
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'Righteous', cursive;
}